# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variable files
*.auto.tfvars

# Sensitive files
terraform.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# VS Code
.vscode/